/*
Selector {
    property: value;
}
*/

* {
    margin: 0;
    padding: 0;
  }
.home {
  height: 650px;
}
/*@import url('https://fonts.googleapis.com/css?family=Merienda');*/
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Default Styling */
body {
  /*font-family: 'Merienda', cursive;*/
  background: #000;
}
.container {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  */
}
.box {
  background: #fff;
  border-radius: 5px;
  position:relative;
  padding: 20px;
  z-index: 1;
}
p.intro{
  line-height: 2;
  margin: 25px;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
a {
  color: red;
}

.adj {
  position: absolute;
  padding-top: 70px;
  padding-left: 30px;
}
.circular--square {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  line-height: 50px;
}
.about {
    padding-top: 90px;
    text-align: center;
    color: #000000;
    background-color:#ffffff;
    height: 600px;
}
.portfolio {
    padding-top: 60px;
    color: #000000;
    text-align: center;
    height: 600px;
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
.contact {
    padding-top: 90px;
    text-align: center;
    color: #000000;
    background-color:#ffffff;
    height: 500px;
}
.icons {
    text-align: left;
    line-height: 25px;
}

.icon-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-1{
      margin-top: 50px;
      display: flex;
      justify-content: space-evenly;
  }
  .python{

  }
  .java{

  }
  .c-plus-plus{

  }
  .javascript{

  }
  .html{

  }
  .css{

  }
  .react{

  }
  .postgressql{

  }
  img { 
	max-width: 100%;
	}
    img.thumbnail { 
	width: 100px;
	height: 70px;
	}
  .portfolio1{

  }
  .container {
    flex-direction: row;
  }

/* Navigation bar*/
#navbar {
    overflow: hidden;
    background-color: #333;
    z-index: 5;
  }
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    z-index: 5;
}
.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.sticky + .content {
    padding-top: 60px;
}
